In [1]:
import pandas as pd

In [7]:
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime.now()

stock = 'TSLA'

df = web.DataReader(stock, 'google', start, end)

NotImplementedError: data_source='google' is not implemented

In [6]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,64.421997,62.200001,62.400002,64.106003,21761000.0,64.106003
2018-01-03,65.050003,63.110001,64.199997,63.450001,22607500.0,63.450001
2018-01-04,63.709999,61.136002,62.574001,62.924000,49731500.0,62.924000
2018-01-05,63.448002,62.400002,63.324001,63.316002,22956000.0,63.316002
2018-01-08,67.403999,63.099998,63.200001,67.281998,49297000.0,67.281998
...,...,...,...,...,...,...
2020-11-17,462.000000,433.010010,460.170013,441.609985,61188300.0,441.609985
2020-11-18,496.000000,443.500000,448.350006,486.640015,78044000.0,486.640015
2020-11-19,508.609985,487.570007,492.000000,499.269989,62475300.0,499.269989
2020-11-20,502.500000,489.059998,497.989990,489.609985,32807300.0,489.609985
2020-11-23,526.000000,501.790009,503.500000,521.849976,49580200.0,521.849976

In [3]:
df1

  key  val1  val2
0   A     1     1
1   B     2     1
2   C     3     1
3   D     4     1

In [4]:
df2 = pd.DataFrame({'key': ['E', 'F', 'G', 'H'],
                    'val1': [0, 0, 0, 0],
                    'val4': [1, 1, 1, 1]})

In [5]:
df2

  key  val1  val4
0   E     0     1
1   F     0     1
2   G     0     1
3   H     0     1

In [11]:
new_df = pd.concat([df1, df2], sort=False)

In [10]:
new_df

  key  val1  val2  val4
0   A     1   1.0   NaN
1   B     2   1.0   NaN
2   C     3   1.0   NaN
3   D     4   1.0   NaN
0   E     0   NaN   1.0
1   F     0   NaN   1.0
2   G     0   NaN   1.0
3   H     0   NaN   1.0

In [12]:
new_df

  key  val1  val2  val4
0   A     1   1.0   NaN
1   B     2   1.0   NaN
2   C     3   1.0   NaN
3   D     4   1.0   NaN
0   E     0   NaN   1.0
1   F     0   NaN   1.0
2   G     0   NaN   1.0
3   H     0   NaN   1.0