In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'val1': [1, 2, 3, 4],
                    'val2': [1, 1, 1, 1]})

In [3]:
df1

  key  val1  val2
0   A     1     1
1   B     2     1
2   C     3     1
3   D     4     1

In [4]:
df2 = pd.DataFrame({'key': ['E', 'F', 'G', 'H'],
                    'val1': [0, 0, 0, 0],
                    'val4': [1, 1, 1, 1]})

In [5]:
df2

  key  val1  val4
0   E     0     1
1   F     0     1
2   G     0     1
3   H     0     1

In [11]:
new_df = pd.concat([df1, df2], sort=False)

In [10]:
new_df

  key  val1  val2  val4
0   A     1   1.0   NaN
1   B     2   1.0   NaN
2   C     3   1.0   NaN
3   D     4   1.0   NaN
0   E     0   NaN   1.0
1   F     0   NaN   1.0
2   G     0   NaN   1.0
3   H     0   NaN   1.0

In [12]:
new_df

  key  val1  val2  val4
0   A     1   1.0   NaN
1   B     2   1.0   NaN
2   C     3   1.0   NaN
3   D     4   1.0   NaN
0   E     0   NaN   1.0
1   F     0   NaN   1.0
2   G     0   NaN   1.0
3   H     0   NaN   1.0